@keyframes slideInLeftKeyframe {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideInRightKeyframe {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popOutkeyFrame {
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}