
@import "animations.scss"; 
@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed));
}
.section.hero{
    .typography{
        padding-right: 1em;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.75vw;
        .custom-image{
            border-radius: 3px;
            overflow: hidden;
            transform:scale(0);
            opacity: 0;
            animation: getAnimationDuration(0.5s) popOutkeyFrame forwards;
            @for $i from 1 through 9 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i*0.1}s;
                }
            }
        }
    }
}

.custom-image{
    height: 0px;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
}